

.newClient-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-top: 15px;  
    align-items: center;
    padding: 2px;
  }
  
  @media (min-width: 768px) {
    .newClient-div{
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 500px;
      margin-left: 400px;
      margin-top: 150px;
      padding: 24px;
    }
  }